

<h1 class="text-info">Send Sms</h1>

<form  method="post" action="/Sms/SendSms">
     
    <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control"/> <br />
    <input type="text" name="Message" id="Message" class="form-control" /> <br />
    <input type="submit" value="Send" class="btn btn-success"/>
</form>
