@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

 <p class="text-danger"></p>

<div class="alert alert-danger" role="alert"><strong>Error</strong><p>@ViewBag.ErrorMessage</p></div>


