@{
    ViewBag.Title = "About";
}
<style>
    .about-icon:before{
        color:#0094ff !important;
    }
</style>
<h2><span class="glyphicon glyphicon-home about-icon"></span> <strong class="text-danger">N</strong>aveed <strong class="text-success">E</strong>lectronics</h2>
<h3><span class="glyphicon glyphicon-map-marker about-icon"></span> <strong class="text-danger">B</strong>aghderai <strong class="text-danger">R</strong>oad <strong class="text-danger">B</strong>ara <strong class="text-danger">D</strong>urushkhela <strong class="text-danger">M</strong>atta <strong class="text-danger">S</strong>wat</h3>
<h3><span class="glyphicon glyphicon-phone-alt about-icon"></span> 0946-795569 <span class="glyphicon glyphicon-phone about-icon"></span> 0345-945-1182 <span class="glyphicon glyphicon-phone about-icon"></span>0313-808-0788 </h3>
<hr />
<h3><small>Developed by</small></h3>
<h2><span class="glyphicon glyphicon-star about-icon"></span> <strong class="text-danger">Udhyana</strong> </h2>
<h3><span class="glyphicon glyphicon-user about-icon"></span> Muhammad Shakeel </h3>
<h3><span class="glyphicon glyphicon-phone about-icon"></span> 0346-947-6404 </h3>