@model NaveedElectronicWeb.NEModel.Supply
<style>
    @@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);
    
</style> 
<link href="~/Content/Site.css" rel="stylesheet" />
<div>
    <h3>Content Moved to details page.</h3>
</div>
<script>

    function PrintPage() {
        window.print();
    }
</script>